@font-face {
	font-family: 'Standard';
	src: url("./fonts/Standard.ttf") format('truetype');
}

@font-face {
	font-family: 'Bold';
	src: url("./fonts/Bold.ttf") format('truetype');
}

* {
  box-sizing: border-box;
}

html {
	display: flex;
	justify-content: center;
}

body {
	cursor: default;
	width: 85vw;
  font-size: 1.8rem;
  background-color: #000;
  color: #fff;
  margin: 70px 0 0;
  padding: 30px 0 50px 0;
  font-family: 'Standard', sans-serif;
}

h1, h2, h3 {
  margin: 0;
}

h1 {
	font-family: 'Bold', sans-serif;
	text-transform: uppercase;
  font-weight: bold;
	display: inline-block;
}

h1:hover {
	font-style: italic;
	cursor: crosshair;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	animation: slide-in 1s ease-in-out;
}

@keyframes slide-in {
	0% {
		margin-top: 70px;
		opacity: 0;
	}

	70% {
		margin-top: -2px;
	}

	100% {
		margin-top: 0;
		opacity: 1;
	}
}

@media only screen and (max-width: 992px) {
	header {
		display: inline-block;
	}

	button {
		margin: 20px 0 50px;
	}
}

a, a:focus, a:active {
	outline: none;
	background: none;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 8px;
	font-size: 1.25rem;
	padding: 5px 20px;
	text-decoration: none;
	cursor: crosshair;
}

a span {
	letter-spacing: 10px;
}

a:hover span {
	transition: 0.8s linear all;
	letter-spacing: 0px;
}

/* @media only screen and (max-width: 992px) {
	a span, a:hover span {
		letter-spacing: 0px;
	}
} */

section {
	animation: slide-in-later 1s ease-in-out;
}

@keyframes slide-in-later {
	0%, 10% {
		margin-top: 30px;
		opacity: 0;
	}

	70% {
		margin-top: -2px;
	}

	100% {
		margin-top: 0;
		opacity: 1;
	}
}

ul {
	padding: 0;
	margin: 0;
}

ul li {
	display: inline;
	font-size: 1rem;
}

ul li::before {
	content: '\2726  ';
}

ul li:last-child::after {
	content: '  \2726';
}
